* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #f0f0f0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 760px) {
    .card-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.card-section{
    margin: 30px auto;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    width: 60%;
    margin: 5rem 10rem;
    padding: 50px 25px;
    text-align: center;
    color: #333;
    background: #fff;
    position: relative;
    box-shadow: 18px 17px 0px -7px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 50%;
    margin: 30px auto;
}

.bottom {
    background: #02d484;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.card .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    grid-gap: 3px;
}

.card .images img {
    border: 1px solid rgba(51, 51, 51, 0.198);
    padding: 10px;
    cursor: pointer;
}